.vscode
data/
external_src/*/__pycache__
setup/__pycache__
setup/.DS_STORE
src/__pycache__
src/.DS_STORE
src/*.pyc
*.pyc
tools/__pycache__
tools/.DS_STORE
run_jobs*.sh
trained_models
trained_segmentation_models
trained_detection_models
trained_super_resolution_segmentation_models
trained_*
training
validation
testing
test/kmeans
test/isles_visualizations
test/debug.py
test_models/
bash/atlas/*/experiments
